include ../mixins/sub-menu.pug
header.header 
    .container 
        .row.align-items-center
            .col-3  
                .inner-logo     
                    a(href="/home")
                        img(src="client/image/lofi.jpg", alt="log" width="50px")

            .col-9  
                .inner-menu 
                    ul 
                        li  
                            a(href="/home") Browser 
                        li(class='sub-menu')
                            a(href="/products") Productions 
                            - const pathProduct = '/products'
                            if(layoutCategoryProduct)
                                +sub-menu(layoutCategoryProduct, pathProduct)
                            