header.header 
    .container 
        .row.align-items-center
            .col-3  
                .inner-logo     
                    a(href="/home")
                        img(src="client/image/lofi.jpg", alt="log" width="50px")

            .col-9  
                .inner-menu 
                    ul 
                        li  
                            a(href="/home") Browser 
                        li 
                            a(href="/products") Productions 

                            ul  
                                li 
                                    a(href="/products/slug-1") Section 1       
                                    ul 
                                        li         
                                            a(href="/products/slug-1-1") Section 1-1  
                                        li  
                                            a(href="/products/slug-1-2") Section 1-2
                                            ul 
                                                li 
                                                    a(href="/products/slug-1-2-1") Section 1-2-1      
                                                li 
                                                    a(href="/products/slug-1-2-2") Section 1-2-2      
                                
                                li 
                                    a(href="/products/slug-2") Section 2    