/* Footer*/
.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.header .inner-menu>ul>li {
    margin-left: 20px;
}

.header .inner-menu>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.header .inner-logo img {
    min-height: 50px;
    max-height: 100%;
}

/*Header*/
.header {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

/* box-head */
.box-head {
    margin-bottom: 30px;
}

.box-head .inner-title {
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 600;
    color: green
}

/* end-box-head */

/* product-item */

.product-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.product-item .inner-image {
    width: 100%;
    aspect-ratio: 4/3;
    border-bottom: 1px solid #ddd;
}

.product-item .inner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-item .inner-content {
    padding: 15px;
}

.product-item .inner-content .inner-title {
    font-size: 20px;
    font-weight: 600;
}

.product-item .inner-content .inner-price-new {
    font-size: 18px;
    font-weight: 600;
    color: green;
}

.product-item .inner-content .inner-price-old {
    font-size: 18px;
    font-weight: 600;
    color: red;
    text-decoration: line-through;
}

.product-item .inner-content .inner-discount {
    font-size: 14px;
    font-weight: 600;
    color: white;
    background: red;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 8px;
}

.product-item .inner-image .inner-featured {
    position: absolute;
    top: 8px;
    right: 20px;
    background: green;
    color: white;
    padding: 3px 6px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 8px;
}

/* sub menu  */
.sub-menu {
    position: relative;
    z-index: 999;
}


.sub-menu ul {
    position: absolute;
    right: 0;
    top: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #eae9e9;
    min-width: 180px;
    display: none;
}

.sub-menu ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.sub-menu:hover>ul {
    display: block;
}

.sub-menu ul li {
    position: relative;
}

.sub-menu ul li ul {
    right: 100%;
    top: 0;
}

.sub-menu ul li:hover>ul {
    display: block;
}


/* chat */
.chat_window {
    position: absolute;
    width: calc(100% - 20px);
    max-width: 800px;
    height: 500px;
    border-radius: 10px;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    background-color: #f8f8f8;
    overflow: hidden;
  }
  
  .top_menu {
    background-color: #fff;
    width: 100%;
    padding: 20px 0 15px;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
  }
  .top_menu .buttons {
    margin: 3px 0 0 20px;
    position: absolute;
  }
  .top_menu .buttons .button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    position: relative;
  }
  .top_menu .buttons .button.close {
    background-color: #f5886e;
  }
  .top_menu .buttons .button.minimize {
    background-color: #fdbf68;
  }
  .top_menu .buttons .button.maximize {
    background-color: #a3d063;
  }
  .top_menu .title {
    text-align: center;
    color: #bcbdc0;
    font-size: 20px;
  }
  
  .messages {
    position: relative;
    list-style: none;
    padding: 20px 10px 0 10px;
    margin: 0;
    height: 347px;
    overflow: scroll;
  }
  .messages .message {
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all 0.5s linear;
    opacity: 0;
  }
  .messages .message.left .avatar {
    background-color: #f5886e;
    float: left;
  }
  .messages .message.left .text_wrapper {
    background-color: #ffe6cb;
    margin-left: 20px;
  }
  .messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
    right: 100%;
    border-right-color: #ffe6cb;
  }
  .messages .message.left .text {
    color: #c48843;
  }
  .messages .message.right .avatar {
    background-color: #fdbf68;
    float: right;
  }
  .messages .message.right .text_wrapper {
    background-color: #c7eafc;
    margin-right: 20px;
    float: right;
  }
  .messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
    left: 100%;
    border-left-color: #c7eafc;
  }
  .messages .message.right .text {
    color: #45829b;
  }
  .messages .message.appeared {
    opacity: 1;
  }
  .messages .message .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
  }
  .messages .message .text_wrapper {
    display: inline-block;
    padding: 20px;
    border-radius: 6px;
    width: calc(100% - 85px);
    min-width: 100px;
    position: relative;
  }
  .messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
    top: 18px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .messages .message .text_wrapper::after {
    border-width: 13px;
    margin-top: 0px;
  }
  .messages .message .text_wrapper::before {
    border-width: 15px;
    margin-top: -2px;
  }
  .messages .message .text_wrapper .text {
    font-size: 18px;
    font-weight: 300;
  }
  
  .bottom_wrapper {
    position: relative;
    width: 100%;
    background-color: #fff;
    padding: 20px 20px;
    position: absolute;
    bottom: 0;
  }
  .bottom_wrapper .message_input_wrapper {
    display: inline-block;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #bcbdc0;
    width: calc(100% - 160px);
    position: relative;
    padding: 0 20px;
  }
  .bottom_wrapper .message_input_wrapper .message_input {
    border: none;
    height: 100%;
    box-sizing: border-box;
    width: calc(100% - 40px);
    position: absolute;
    outline-width: 0;
    color: gray;
  }
  .bottom_wrapper .send_message {
    width: 140px;
    height: 50px;
    display: inline-block;
    border-radius: 50px;
    background-color: #a3d063;
    border: 2px solid #a3d063;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s linear;
    text-align: center;
    float: right;
  }
  .bottom_wrapper .send_message:hover {
    color: #a3d063;
    background-color: #fff;
  }
  .bottom_wrapper .send_message .text {
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    line-height: 48px;
  }
  
  .message_template {
    display: none;
  }

  .chat .inner-body .inner-images img {
    width: 80px; 
    height: 80px; 
    object-fit: contain; 
    background: #efefef; 
    padding: 10px; 
    margin: 0 5px 5px 0; 
    border-radius: 5px;
  }

  .chat .inner-body .inner-outgoing .inner-images {
    margin-left: auto;
    text-align: right;
  }

  .chat .inner-body .inner-outgoing .inner-images img {
    margin: 0 0 5px 5px;
  }
/* End-chat */

.chat {
    padding-top: 3px
    display: flex;
    align-items:center; 
}

.inner-name {
    margin-bottom: 3px;
}
.inner-body {
    min-width: 950px;
    border: 1px solid #ddd; 
    border-radius: 10px;
    max-height: 450px; 
    overflow-y: auto;
    padding: 8px;
}

.inner-content {
    border-radius: 15px; 
    display: inline-block;
    padding: 7px;
    margin-bottom: 7px
}

.inner-incomming .inner-content {
    background-color: #ddd;
}

.inner-outgoing .inner-content {
    background-color: #DC143C;
    color: white;
}

.inner-foot {
    display: block;
    border-top: 1px solid #ddd; 
    padding-top: 10px; 
   
}

.inner-foot input {
    width: 85%;
    margin-left: 17px;
    margin-right: 3px; 
    border-radius: 15px;
    border: 1px solid #ddd
}

.inner-foot input::placeholder {
    padding: 20px;
}


.inner-foot button {
    width: 5%;
    border: none;
    background-color: #DC143C;
    border-radius: 15px;
    color: white
}

/* emoji-picker */
.tooltip {
  visibility: hidden;
}

.tooltip.shown{
  visibility: visible;
  opacity: 1;
}
/* emoji-picker */

/* box-typing  */
.box-typing {
  position: relative;
}

.box-typing.show {
  display: none
}

.box-typing .inner-dots {
  position: relative;
  height: 20px; 
  width: 50px; 
  display: inline-flex; 
  align-items: center; 
  justify-content: center; 
  background: #efefef; 
  border-radius: 45px; 
  margin-top: 2px;
}

.box-typing .inner-dots span {
    animation: blink 1.5 infinite;
    height: 5px; 
    width: 5px; 
    background: #252525; 
    border-radius: 50%; 
    display: inline-block; 
    margin: 0 3px;
}

.box-typing .inner-dots span:nth:child(2) {
  animation-delay: 0.2s;
}

.box-typing .inner-dots span:nth:child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% {
    opacity: 0.1; 
  }
  20% {
    opacity: 1; 
  }
  100% {
    opacity: 0.1; 
  }
}
/* end box-typing  */


/* box-user  */
.box-user {
  display: flex; 
  border: 1px solid #ddd; 
  padding: 10px; 
  border-radius: 5px; 
  margin-bottom: 30px
}

.box-user .inner-avatar {
  width: 60px; 
  height: 60px; 
  border-radius: 50%; 
  overflow: hidden; 
  background: #f2f2f2; 
  margin-right: 10px 
}

.box-user .inner-avatar img {
  width: 100%; 
  height: 100%; 
  object-fit: cover
}


.box-user .inner-info {
  flex: 1;
}

.box-user .inner-info .inner-name {
  font-size: 18px; 
  font-weight: 600; 
  margin-bottom: 3px;
}

.box-user [btn-cancel-friend] {
  display: none;
}

.box-user.add [btn-add-friend] {
  display: none;
}

.box-user.add [btn-cancel-friend] {
  display: inline-block
}
/* end box-user  */