mixin select-tree(items, level = 1)
    each item in items 
        - const preFix = Array(level + 1).join('- ')
        option(value=item.id) #{preFix}#{item.title}
            if item.children && item.children.length > 0 
                +select-tree(item.children, level + 1)
