mixin sort()
    div(sort)
        select(class="form-control"
            name="sort"
            sort-select
        )
            option(value="position-desc") Sort by descending position 
            option(value="position-asc") Sort by ascending position
            option(value="price-desc") Sort by descending price
            option(value="price-asc") Sort by ascending price
            option(value="title-desc") Sort by descending title  
            option(value="title-asc") Sort by ascending title
        button(
            class="btn btn-danger mt-2"
            sort-clear
        ) Clear